mock==5.1.0
pbkdf2==1.3
bottle==0.12.25
pytest==7.4.0
requests==2.31.0
deepdiff==6.3.1
ecdsa==0.18
simplejson==3.19.1
pycryptodome==3.18.0
websocket_client==1.6.1
websocket_client_py3==0.15.0
mysql_connector_repackaged==0.3.1
numpy==1.25.2
python-bitcoinlib==0.12.2
qrcode==7.4.2
cheroot==10.0.0
psutil==5.9.5
openai==1.2.4
tweepy==4.14.0
transformers==4.32.0
mastodon.py==1.8.1
beautifulsoup4==4.12.2
langchain==0.0.335
tiktoken==0.4.0
ipfs-dict-chain==1.0.6
chromadb==0.3.26
torch==2.0.0
websockets==11.0.3